.nav{
    display: flex;
    justify-content: space-between;
}
koooo{
    background-color: #805D6E;
    background-color: #B58FA2;
    background-color: #8CAFCE;
    background-color: #394855;
    background-color: #979A9D;
}